* {
    font-family: 'Assistant', sans-serif;
}

body {
    max-width: 900px;
    margin: auto;
}

h1,
h2 {
    font-family: 'Teko', sans-serif;
}

h1 {
    text-align: center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table td {
    border: 1px solid grey;
}

td,
tr {
    padding: 5px;
    margin: 0;
}

.monospace {
    font-family: monospace;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: rgba(172, 232, 212, 0.365);
}

thead td {
    background-color: aquamarine;
    text-align: center;
}

.topleft {
    border-top: hidden;
    border-left: hidden;
    background: none;
    padding: 0;
}


.rotate span {
    margin: 5px;
    writing-mode: vertical-lr;
    display: block;
    transform: rotate(-180deg);
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
}

footer {
    text-align: left;
    border-top: 2px dotted grey;
    margin-top: 50px;
}

footer h3 {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: black;
    font-style: italic;
}